# Configuración de la Base de Datos
DB_SERVER="."
DB_DATABASE="gestor_tareas"
DB_USERNAME=""
DB_PASSWORD=""

# Variables de Seguridad para JWT
SECRET_KEY="COPIA_AQUI_LA_CLAVE"
ACCESS_TOKEN_EXPIRE_MINUTES=60
