USE [master]
GO
/****** Objeto: Database [gestor_tareas] Fecha de script: 25/07/2026 09:28:24 a. m. ******/
CREATE DATABASE [gestor_tareas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gestor_tareas', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\gestor_tareas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gestor_tareas_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\gestor_tareas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gestor_tareas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gestor_tareas]
GO
/****** Objeto: Table [dbo].[Subtasks] Fecha de script: 25/07/2026 09:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subtasks](
	[SubtaskID] [int] IDENTITY(1,1) NOT NULL,
	[SubtaskTitle] [varchar](250) NOT NULL,
	[SubtaskIsCompleted] [bit] NOT NULL,
	[TaskId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubtaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Tags] Fecha de script: 25/07/2026 09:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [varchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Tasks] Fecha de script: 25/07/2026 09:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTitle] [varchar](250) NOT NULL,
	[TaskDescription] [varchar](500) NULL,
	[TaskPriority] [varchar](10) NOT NULL,
	[TaskStatus] [varchar](20) NOT NULL,
	[TaskDueDate] [datetime] NULL,
	[TaskProgress] [int] NOT NULL,
	[TaskCreatedAt] [datetime] NOT NULL,
	[TaskUpdatedAt] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TaskTags] Fecha de script: 25/07/2026 09:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTags](
	[TaskId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [pk_tasktags] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Users] Fecha de script: 25/07/2026 09:28:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](100) NOT NULL,
	[UserPassword] [varchar](255) NOT NULL,
	[UserCreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_users_email] UNIQUE NONCLUSTERED 
(
	[UserEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Subtasks] ADD  DEFAULT ((0)) FOR [SubtaskIsCompleted]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ('media') FOR [TaskPriority]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ('pendiente') FOR [TaskStatus]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ((0)) FOR [TaskProgress]
GO
ALTER TABLE [dbo].[Subtasks]  WITH CHECK ADD  CONSTRAINT [fk_subtasks_task] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subtasks] CHECK CONSTRAINT [fk_subtasks_task]
GO
ALTER TABLE [dbo].[Tags]  WITH CHECK ADD  CONSTRAINT [fk_tags_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tags] CHECK CONSTRAINT [fk_tags_user]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [fk_tasks_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [fk_tasks_user]
GO
ALTER TABLE [dbo].[TaskTags]  WITH CHECK ADD  CONSTRAINT [fk_tasktags_tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([TagId])
GO
ALTER TABLE [dbo].[TaskTags] CHECK CONSTRAINT [fk_tasktags_tag]
GO
ALTER TABLE [dbo].[TaskTags]  WITH CHECK ADD  CONSTRAINT [fk_tasktags_task] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskTags] CHECK CONSTRAINT [fk_tasktags_task]
GO
USE [master]
GO
